.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(0, 128, 255, 1);
    margin-bottom: 16px;
}

.span {
    
}

.input {
    font-weight: 500;
    padding: 8px 24px;
}

.pen {
}