.App {
  --header_height: 60px;
  font-family: "Montserrat", sans-serif;
}

.hw {
  max-width: 1280px;
  padding: 70px 70px 24px;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.messages {
  display: flex;
  flex-direction: column;
}

.hwTitle {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 0 20px;
}
