.friendMessage {
  align-self: flex-start;
  max-width: 70%;
  margin-bottom: 30px;
}

.friendImageAndText {
  display: flex;
  flex-direction: row;
}

.friendImageAndText img {
  width: 48px;
  margin-right: 20px;
  margin-top: auto;
}

.friendText {
  position: relative;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(245, 247, 251, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  box-shadow: 0px 1px 2px rgba(29, 33, 38, .1);
}

.friendText:after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 20px solid rgba(245, 247, 251, 1);
}

.friendName {
  font-weight: 600;
  margin-bottom: 4px;
}

.friendMessageText {
}

.friendTime {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 0 8px;
}
