.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    margin-top: 7px;
    color: red;
}

.input {
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
    min-width: 372px;
    min-height: 36px;
    outline: none;

    font-size: 16px;
    font-weight: 500;
    padding: 0px 12px;
}

.input:focus {
    border: 1px solid rgb(88, 85, 85);
}

.input.errorInput {
    border: 1px red solid;
}

.button {
    background-color: rgba(0, 102, 204, 1);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 76px;
    height: 36px;
}

.button:focus,
.button:active,
.button:disabled {
    opacity: 0.5;
}

.text {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.greeting {
    margin-top: 10px;
    font-size: 14px;
}
