.sendForm {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textarea {
  width: 976px;
  min-height: 40px;
  padding: 12px 24px;
  font-size: 14px;
  resize: none;
  overflow-y: hidden;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(245, 247, 251, 1);
  color: black;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 1px 2px rgba(29, 33, 38, 0.1);
}

.textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.textarea:focus-within {
  border-color: rgba(0, 0, 0, 0.2);
}

.button {
  cursor: pointer;
  margin-left: auto;
  font-weight: 600;
  border: none;
  background-color: rgba(0, 102, 204, 1);
  color: white;
  padding: 13px 39px 11px 39px;
  border-radius: 20px;
}

.button:hover {
  background-color: rgba(0, 82, 164, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.button:active {
  background-color: rgba(0, 72, 144, 1);
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
